.center {
	margin: auto;
	width: 50%;
	padding: 10px;
	background-color: #1c1f2b;
	border-radius: 15px;
	color: white;
	text-align: center;
	font-family: 'Courier New', Courier, monospace;
	font-size: 40px;
}
body {
	background-color: #1c1f2b;
}

.card {
	float: left;
	margin-right: 5%;
	background-color: #292d3e;
	box-shadow: 0 4px 8px 0 rgba(15, 15, 15, 0.2);
	transition: 0.3s;
	width: 20.00%;
	color: white;
	font-family: 'Courier New', Courier, monospace;
	border-radius: 12px;
	margin-bottom: 2% !important;

	perspective: 1000px;
	transition: transform 0.6s;
	transform-style: preserve-3d;
}
.card.flip {
	transform: rotateY(180deg);
}
.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.flipcardfront,
.flipcardback {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.flipcardback {
	transform: rotateY(180deg);
	top: 0;

	position: absolute;
}
.container {
	padding: 2px 16px;
}
.flipcardback-text {
	text-align: center;
	padding: 50px 72px;
}
.box:last-child {
	margin-right: 0;
}
.overlay {
	z-index: 2;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #292d3e !important;
}
.changePassword {
	position: absolute;
	color: white;
	font-size: 20px;
	font-family: 'Courier New', Courier, monospace;
	text-align: center;
	top: 20%;
	width: 30%;
	height: 15%;
	left: 35%;
	border-radius: 20px;
	padding: 50px 2px;
	text-align: center;
	background-color: #1c1f2b;
}
.ban-button {
	position: absolute;
	background-color: transparent;
	color: white;
	padding: 0 10px;
	left: 71px;
	width: 60%;
	border-radius: 9px;
	font-size: 24px;
	transition-duration: 0.4s;
}

.flipcardback-input {
	position: absolute;
	top: 50%;
	left: 39%;
	background-color: transparent;
	color: white;
	border: none;
	font-size: 24px;
	transition-duration: 0.4s;
}

.ban-button:hover {
	background-color: #ff0000;
	border: 2px solid #ff0000;
	color: white;
}

@media screen and (max-width: 600px) {
	.card {
		width: 100% !important;
		margin-right: 0 !important;
		margin-bottom: 2% !important;
	}
}
@media screen and (max-width: 1000px) {
	.card {
		width: 40%;
		margin-bottom: 2%;
	}
}
