.center {
	margin: auto;
	width: 50%;
	padding: 10px;
	background-color: #292d3e;
	border-radius: 15px;
	color: white;
	text-align: center;
	font-family: 'Courier New', Courier, monospace;
	font-size: 40px;
}
body {
	background-color: #1c1f2b;
}
